*{
    margin: 0;
}
.background-color{
    background-color: #d9d9d9;
    text-align: center;
}
.topnav {
    background-color: #ed1d24;
    top: 0;
    height:40px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.botnav {
    background-color: #003f98;
    bottom: 0;
    height:40px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    /*box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);*/
}
.bottext{
    color: white;
    text-align: center;
    animation-name: animateText;
    animation-duration: 4s;
}
.logo{
    float: left;
}
.title {
    color: white;
    text-align: center;
    transition: 1s;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana;
}
.title:hover {
    color:green;
}
#cardDead{
    visibility: hidden;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    transition: 0.3s;
    visibility: visible;
    overflow: hidden;
    max-width: 300px;
    max-height: 450px;
    text-align: center;
    font-family: arial;
    margin:auto;
    display:block;
    
}
.cardanimation{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    transition: 0.3s;
    visibility: visible;
    overflow: hidden;
    max-width: 300px;
    max-height: 450px;
    text-align: center;
    font-family: arial;
    margin:auto;
    display:block;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.cardanimation:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
#coverpic{
    margin: auto;
    border-radius: 3px;
}
#charname{
    padding-top: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes animateText{
    0%   {background-color: white;}
    50%  {background-color: black;}
}
@keyframes animateText{
    0%   {background-color: white;}
    50%  {background-color: black;}
}